<h1>Show Item</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @item.title %>
  </li>

  <li>
    <strong>Completed:</strong>
    <%= @item.completed %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.item_path(@conn, :edit, @item) %></span>
<span><%= link "Back", to: Routes.item_path(@conn, :index) %></span>
