<%=
    render("list_items_view.html", %{
        list: @list,
        children: Enum.map(@item_trees, fn tree ->
            Todo.Item.Tree.map_depth_first(tree, fn item, children ->
                render("item_view.html", %{
                    item: item,
                    children: children
                })
            end)
        end)
    })
%>
<script type="text/javascript">
    initMVC();
</script>
